.App {
  text-align: center;
}
body, html {
  height: 100%;
}

.card li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px;
  border-radius: 12px;
  font-family: 'Cormorant Garamond', serif; 
  flex-wrap: wrap;
  width: 350px;
  background-color: white;
}

.cardContainer{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* margin-left: 80px; */
  
}
.detailCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px;
  border-radius: 12px;
  font-family: 'Cormorant Garamond', serif; 
  flex-wrap: wrap;
  width: 350px;
  background-color: white;
}

li{
    width: 350px;
    display: none;   
}
img{
  width: 350px;
  height: 300px;
  border-radius: 12px 12px 0 0 ;
}

.navbar{
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  width: 100%;
  height: 70px;
  background-color: bisque;
  padding-top: 20px;
}

input{
  width: 45%;
  height: 40px;
  margin: 10px;
  background-color: antiquewhite;
}
#submit{
  width: 10%;
  height: 40px;
}